[Unit]
Description=unit filter Kostyuk_Ruslan

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/filter
User=root
WorkingDirectory=/backup
ExecStart=/backup/filter.sh
ExecReload=/bin/kill -HUP $MAINPID
#KillMode=process
#Restart=on-failure
#RestartSec=10s

[Install]
WantedBy=multi-user.target
